# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Modelos treinados
models/*.pt
runs/

# Dados grandes
data/raw/
data/external/

# Dataset gerado
data/processed/dataset_v2/
data/processed/dataset_v3/
data/processed/dataset_v4/
data/processed/dataset_v5/

# Relatórios
reports/*.pdf

# Sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

/hackathon/
