# ==========================
# IA / Visão Computacional
# ==========================
ultralytics>=8.4.0

# ==========================
# Interface
# ==========================
streamlit>=1.44.0

# ==========================
# Processamento de Imagens
# ==========================
opencv-python>=4.11.0
Pillow>=11.1.0

# ==========================
# Manipulação de Dados
# ==========================
numpy>=2.2.0
pandas>=2.2.3

# ==========================
# Utilidades
# ==========================
python-dotenv>=1.1.0
PyYAML>=6.0.2

# ==========================
# Relatórios
# ==========================
fpdf2>=2.8.2

# ==========================
# Visualização
# ==========================
matplotlib>=3.10.0

# ==========================
# Desenvolvimento e Testes
# ==========================
pytest>=8.3.5